<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="context">
            <!-- <span>aaaa</span><span>bbbb</span><span>cccc</span><span>dddd</span><span>eeee</span><span>ffff</span> -->
            {% for i in range(10) %}
            <span ansid="0">{{i}}{{i}}{{i}}{{i}}{{i}}{{i}}{{i}}{{i}}</span>
            {% endfor %}
        </div>
    </body>

    <script src="{{url_for('static', filename='assets/js/ann.js')}}"></script>
</html>